* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', sans-serif;
}

:root {
    --grey-background: rgb(63, 63, 63);
    --dark: rgb(24, 24, 24);
    --grey: rgb(111, 111, 111);
}

body {
    min-height: 100vh;
    background-color: var(--grey-background)
}

.content {
    height: 100vh;
}

.container {
    display: flex;
    width: 50vw;
    margin: auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 10vh;
    width: 100%;
    background-color: var(--dark);
    color: azure;
    font-size: 50px;
}

.main {
    display: grid;
    grid-template-rows: repeat(2, 350px);
    grid-template-columns: repeat(auto-fit, minmax(250px, 400px));
    gap: 10px;
    margin: auto;
    justify-content: center;
    height: 100%;
    width: 75vw;
}

#add-button {
    display: flex;
    margin: auto;
    width: 200px;
    height: 10vh;
    justify-self: center;
    align-items: center;
    color: azure;
    font-size: 30px;
    cursor: pointer;
}

#add-button p {
    margin: auto;
}

#add-button:hover {
    background-color: var(--grey);
    border-radius: 10px;
    transition: .2s;
}
 .book {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px;
    padding: 5px;
    text-align: center;
    min-height: 350px;
    font-size: 20px;
    font-weight: 600;
    box-shadow: 0 1px 5px;
    background-color: var(--grey);
    border-radius: 10px;
 }

 button {
    font-size: 20px;
    font-weight: 600;
    height: 15%;
    width: 80%;
    border-radius: 10px;
    cursor: pointer;
    border: none;
 }

 button:hover {
    filter: brightness(90%);
    transition: .15s;
 }

 .read {
    background-color: rgb(91, 224, 91);
 }

 .not-read {
    background-color: rgb(235, 48, 48);
 }

 dialog {
    margin: auto; 
    border: none;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    height: 500px;
    width: 350px;
    transition: .5s;
 }

form {
    margin: 15px;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

form h3 {
    font-size: 25px;
}

form div {
    display: flex;
    flex-direction: column;
}

form button {
    margin: 5px;
    height: 50px;
    width: 120px;
}

label {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

input {
    margin: 0 10px;
    padding: 2px;
    border-radius: 10px;
    border: 1px solid var(--grey);
    height: 40px;
    font-size: 20px;
}

#pages {
    width: 250px;
}

#read {
    margin-bottom: 3px;
    font-size: 20px;
    height: 20px;
    width: 20px;
}

form p {
    color: red;
}

.error-visible {
    display: none;
}
